{% extends "admin/change_list.html" %}
{% load i18n store admin_list %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    {% result_list cl %}
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}

{% block pagination %}
{% if action_form and actions_on_top and cl.show_admin_actions %}
<div class="actions">
  {% if user|has_perm:'store.delete_feedsubmissioninfo' %}
  <button type="button" class="button" title="Delete selected"
          onclick="django.jQuery('button[id=feedsubmissioninfo-btn-action-delete]')[0].click();">Delete selected</button>
  {% endif %}
  {% if user|has_perm:'store.sync_inventory' %}
  <button type="button" class="button" title="Check Feed Status"
          onclick="django.jQuery('button[id=feedsubmissioninfo-btn-action-check]')[0].click();">Check Feed Status</button>
  {% endif %}
  {% if actions_selection_counter %}
      <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
      {% if cl.result_count != cl.result_list|length %}
      <span class="all">{{ selection_note_all }}</span>
      <span class="question">
          <a href="#" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
      </span>
      <span class="clear"><a href="#">{% trans "Clear selection" %}</a></span>
      {% endif %}
  {% endif %}
</div>
{% endif %}
{{ block.super }}
{% endblock %}
